body {
  background: white !important;
  font-family: 'GTWalsheimMedium';
  min-height: 0% !important
}

.wrapper {
  min-height: 0% !important;
  display: grid;
  /* grid-template-rows: auto 1fr auto; */
  grid-template-rows: auto;
  grid-template-columns: 100%;,
}

.header {
  padding-bottom: 15px !important;
  padding-left: 10px;
}

.row {
  border-bottom: inset !important;
}

button, .button {
  padding-top: 0px !important;
}

.closeBtn {
  margin-top: -40%;
  float: right;
  width: 48px;
}

.round {
  position: absolute;
}

.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 24px;
  left: 270px;
  position: absolute;
  top: -27px;
  width: 24px;
}

.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 5px;
  opacity: 0;
  position: absolute;
  top: 6px;
  transform: rotate(-45deg);
  width: 12px;
}

.round input[type="checkbox"]  {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: rgb(251, 99, 126) !important;
  border-color: rgb(251, 99, 126) !important;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.round input[type="radio"]  {
  visibility: hidden;
}

.round input[type="radio"]:checked + label {
  background-color: rgb(251, 99, 126) !important;
  border-color: rgb(251, 99, 126) !important;
}

.round input[type="radio"]:checked + label:after {
  opacity: 1;
}

.show {
  visibility : visible;
}